function Board.new 3
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push constant 10
    pop this 1
    push constant 20
    pop this 2
    push this 2
    call Array.new 1
    pop this 0
    push constant 0
    pop local 0
label Board_0
    push local 0
    push this 2
    lt
    not
    if-goto Board_1
    push this 1
    call Array.new 1
    pop local 2
    push local 0
    push this 0
    add
    push local 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    pop local 1
label Board_2
    push local 1
    push this 1
    lt
    not
    if-goto Board_3
    push local 1
    push local 2
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Board_2
label Board_3
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_0
label Board_1
    push pointer 0
    return
function Board.getWidth 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Board.getHeight 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Board.isEmpty 1
    push argument 0
    pop pointer 0
    push argument 2
    push constant 0
    lt
    push argument 2
    push constant 19
    gt
    or
    push argument 1
    push constant 0
    lt
    or
    push argument 1
    push constant 9
    gt
    or
    not
    if-goto Board_5
    push constant 0
    return
    goto Board_4
label Board_5
label Board_4
    push argument 2
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push local 0
    push constant 0
    eq
    not
    if-goto Board_7
    push constant 1
    neg
    return
    goto Board_6
label Board_7
label Board_6
    push argument 1
    push local 0
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    return
function Board.setBlock 1
    push argument 0
    pop pointer 0
    push argument 2
    push constant 0
    lt
    push argument 2
    push constant 19
    gt
    or
    push argument 1
    push constant 0
    lt
    or
    push argument 1
    push constant 9
    gt
    or
    not
    if-goto Board_9
    push constant 0
    return
    goto Board_8
label Board_9
label Board_8
    push argument 2
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push local 0
    push constant 0
    eq
    not
    not
    if-goto Board_11
    push argument 1
    push local 0
    add
    push argument 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Board_10
label Board_11
label Board_10
    push constant 0
    return
function Board.getBlock 1
    push argument 0
    pop pointer 0
    push argument 2
    push constant 0
    lt
    push argument 2
    push constant 19
    gt
    or
    push argument 1
    push constant 0
    lt
    or
    push argument 1
    push constant 9
    gt
    or
    not
    if-goto Board_13
    push constant 1
    return
    goto Board_12
label Board_13
label Board_12
    push argument 2
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push local 0
    push constant 0
    eq
    not
    if-goto Board_15
    push constant 0
    return
    goto Board_14
label Board_15
label Board_14
    push argument 1
    push local 0
    add
    pop pointer 1
    push that 0
    return
function Board.canPlaceTetromino 3
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    eq
    not
    if-goto Board_17
    push constant 0
    return
    goto Board_16
label Board_17
label Board_16
    push constant 0
    pop local 0
label Board_18
    push local 0
    push constant 4
    lt
    not
    if-goto Board_19
    push argument 1
    call Tetromino.getX 1
    push argument 1
    push local 0
    call Tetromino.getBlockX 2
    add
    pop local 1
    push argument 1
    call Tetromino.getY 1
    push argument 1
    push local 0
    call Tetromino.getBlockY 2
    add
    pop local 2
    push pointer 0
    push local 1
    push local 2
    call Board.isEmpty 3
    not
    not
    if-goto Board_21
    push constant 0
    return
    goto Board_20
label Board_21
label Board_20
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_18
label Board_19
    push constant 1
    neg
    return
function Board.placeTetromino 3
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    eq
    not
    if-goto Board_23
    push constant 0
    return
    goto Board_22
label Board_23
label Board_22
    push constant 0
    pop local 0
label Board_24
    push local 0
    push constant 4
    lt
    not
    if-goto Board_25
    push argument 1
    call Tetromino.getX 1
    push argument 1
    push local 0
    call Tetromino.getBlockX 2
    add
    pop local 1
    push argument 1
    call Tetromino.getY 1
    push argument 1
    push local 0
    call Tetromino.getBlockY 2
    add
    pop local 2
    push pointer 0
    push local 1
    push local 2
    push constant 1
    call Board.setBlock 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_24
label Board_25
    push constant 0
    return
function Board.isLineFull 2
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    lt
    push argument 1
    push constant 19
    gt
    or
    not
    if-goto Board_27
    push constant 0
    return
    goto Board_26
label Board_27
label Board_26
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    push constant 0
    eq
    not
    if-goto Board_29
    push constant 0
    return
    goto Board_28
label Board_29
label Board_28
    push constant 0
    pop local 0
label Board_30
    push local 0
    push this 1
    lt
    not
    if-goto Board_31
    push local 0
    push local 1
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    if-goto Board_33
    push constant 0
    return
    goto Board_32
label Board_33
label Board_32
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_30
label Board_31
    push constant 1
    neg
    return
function Board.copyLine 3
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    lt
    push argument 1
    push constant 19
    gt
    or
    push argument 2
    push constant 0
    lt
    or
    push argument 2
    push constant 19
    gt
    or
    not
    if-goto Board_35
    push constant 0
    return
    goto Board_34
label Board_35
label Board_34
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push argument 2
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 0
    push constant 0
    eq
    push local 1
    push constant 0
    eq
    or
    not
    if-goto Board_37
    push constant 0
    return
    goto Board_36
label Board_37
label Board_36
    push constant 0
    pop local 2
label Board_38
    push local 2
    push this 1
    lt
    not
    if-goto Board_39
    push local 2
    push local 1
    add
    push local 2
    push local 0
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 2
    push constant 1
    add
    pop local 2
    goto Board_38
label Board_39
    push constant 0
    return
function Board.clearLine 2
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    lt
    push argument 1
    push constant 19
    gt
    or
    not
    if-goto Board_41
    push constant 0
    return
    goto Board_40
label Board_41
label Board_40
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    push constant 0
    eq
    not
    if-goto Board_43
    push constant 0
    return
    goto Board_42
label Board_43
label Board_42
    push constant 0
    pop local 0
label Board_44
    push local 0
    push this 1
    lt
    not
    if-goto Board_45
    push local 0
    push local 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_44
label Board_45
    push constant 0
    return
function Board.clearFullLines 4
    push argument 0
    pop pointer 0
    push constant 0
    pop local 2
    push this 2
    push constant 1
    sub
    pop local 0
    push this 2
    push constant 1
    sub
    pop local 1
label Board_46
    push local 1
    push constant 1
    neg
    gt
    not
    if-goto Board_47
    push constant 0
    pop local 3
    push pointer 0
    push local 1
    call Board.isLineFull 2
    not
    if-goto Board_49
    push local 2
    push constant 1
    add
    pop local 2
    push constant 1
    neg
    pop local 3
    goto Board_48
label Board_49
    push local 0
    push local 1
    eq
    not
    not
    if-goto Board_51
    push pointer 0
    push local 1
    push local 0
    call Board.copyLine 3
    pop temp 0
    goto Board_50
label Board_51
label Board_50
    push local 0
    push constant 1
    sub
    pop local 0
label Board_48
    push local 1
    push constant 1
    sub
    pop local 1
    goto Board_46
label Board_47
label Board_52
    push local 0
    push constant 1
    neg
    gt
    not
    if-goto Board_53
    push pointer 0
    push local 0
    call Board.clearLine 2
    pop temp 0
    push local 0
    push constant 1
    sub
    pop local 0
    goto Board_52
label Board_53
    push local 2
    return
function Board.clear 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Board_54
    push local 0
    push this 2
    lt
    not
    if-goto Board_55
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push local 2
    push constant 0
    eq
    not
    not
    if-goto Board_57
    push constant 0
    pop local 1
label Board_58
    push local 1
    push this 1
    lt
    not
    if-goto Board_59
    push local 1
    push local 2
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Board_58
label Board_59
    goto Board_56
label Board_57
label Board_56
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_54
label Board_55
    push constant 0
    return
function Board.dispose 2
    push argument 0
    pop pointer 0
    push this 0
    push constant 0
    eq
    not
    not
    if-goto Board_61
    push constant 0
    pop local 0
label Board_62
    push local 0
    push this 2
    lt
    not
    if-goto Board_63
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    push constant 0
    eq
    not
    not
    if-goto Board_65
    push local 1
    call Memory.deAlloc 1
    pop temp 0
    goto Board_64
label Board_65
label Board_64
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_62
label Board_63
    push this 0
    call Memory.deAlloc 1
    pop temp 0
    goto Board_60
label Board_61
label Board_60
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return