function GameLogic.new 0
    push constant 10
    call Memory.alloc 1
    pop pointer 0
    call Board.new 0
    pop this 0
    call PieceGenerator.new 0
    pop this 3
    push constant 0
    pop this 1
    push constant 0
    pop this 2
    push constant 0
    pop this 4
    push constant 1
    pop this 5
    push constant 0
    pop this 6
    push constant 0
    pop this 7
    push constant 1
    neg
    pop this 8
    push constant 0
    pop this 9
    push pointer 0
    call GameLogic.spawnNewPiece 1
    pop temp 0
    push pointer 0
    return
function GameLogic.getScore 0
    push argument 0
    pop pointer 0
    push this 4
    return
function GameLogic.getLevel 0
    push argument 0
    pop pointer 0
    push this 5
    return
function GameLogic.getLinesCleared 0
    push argument 0
    pop pointer 0
    push this 6
    return
function GameLogic.getDropSpeed 0
    push argument 0
    pop pointer 0
    push this 5
    push constant 1
    eq
    not
    if-goto GameLogic_0
    push constant 6
    return
    goto GameLogic_1
label GameLogic_0
label GameLogic_1
    push this 5
    push constant 2
    eq
    not
    if-goto GameLogic_2
    push constant 5
    return
    goto GameLogic_3
label GameLogic_2
label GameLogic_3
    push this 5
    push constant 3
    eq
    not
    if-goto GameLogic_4
    push constant 4
    return
    goto GameLogic_5
label GameLogic_4
label GameLogic_5
    push this 5
    push constant 4
    eq
    not
    if-goto GameLogic_6
    push constant 3
    return
    goto GameLogic_7
label GameLogic_6
label GameLogic_7
    push this 5
    push constant 5
    eq
    not
    if-goto GameLogic_8
    push constant 3
    return
    goto GameLogic_9
label GameLogic_8
label GameLogic_9
    push this 5
    push constant 6
    eq
    not
    if-goto GameLogic_10
    push constant 2
    return
    goto GameLogic_11
label GameLogic_10
label GameLogic_11
    push this 5
    push constant 7
    eq
    not
    if-goto GameLogic_12
    push constant 2
    return
    goto GameLogic_13
label GameLogic_12
label GameLogic_13
    push this 5
    push constant 8
    eq
    not
    if-goto GameLogic_14
    push constant 1
    return
    goto GameLogic_15
label GameLogic_14
label GameLogic_15
    push this 5
    push constant 9
    eq
    not
    if-goto GameLogic_16
    push constant 1
    return
    goto GameLogic_17
label GameLogic_16
label GameLogic_17
    push constant 1
    return
function GameLogic.isGameOver 0
    push argument 0
    pop pointer 0
    push this 7
    return
function GameLogic.getBoard 0
    push argument 0
    pop pointer 0
    push this 0
    return
function GameLogic.getCurrentPiece 0
    push argument 0
    pop pointer 0
    push this 1
    return
function GameLogic.getGhostPiece 0
    push argument 0
    pop pointer 0
    push this 9
    not
    if-goto GameLogic_18
    push this 2
    return
    goto GameLogic_19
label GameLogic_18
label GameLogic_19
    push constant 0
    return
function GameLogic.getPieceGenerator 0
    push argument 0
    pop pointer 0
    push this 3
    return
function GameLogic.checkGameOverCondition 1
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label GameLogic_20
    push local 0
    push constant 10
    lt
    not
    if-goto GameLogic_21
    push this 0
    push local 0
    push constant 0
    call Board.getBlock 3
    push constant 1
    eq
    push this 0
    push local 0
    push constant 1
    call Board.getBlock 3
    push constant 1
    eq
    or
    not
    if-goto GameLogic_22
    push constant 1
    neg
    return
    goto GameLogic_23
label GameLogic_22
label GameLogic_23
    push local 0
    push constant 1
    add
    pop local 0
    goto GameLogic_20
label GameLogic_21
    push constant 0
    return
function GameLogic.updateGhostPiece 1
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    eq
    not
    if-goto GameLogic_24
    push constant 0
    pop this 9
    push constant 0
    return
    goto GameLogic_25
label GameLogic_24
label GameLogic_25
    push this 2
    push constant 0
    eq
    not
    if-goto GameLogic_26
    push this 1
    call Tetromino.getType 1
    push this 1
    call Tetromino.getX 1
    push this 1
    call Tetromino.getY 1
    call Tetromino.new 3
    pop this 2
    goto GameLogic_27
label GameLogic_26
    push this 2
    push this 1
    call Tetromino.getX 1
    push this 1
    call Tetromino.getY 1
    call Tetromino.setPosition 3
    pop temp 0
    push this 2
    push this 1
    call Tetromino.getType 1
    call Tetromino.setType 2
    pop temp 0
label GameLogic_27
    push this 2
    push this 1
    call Tetromino.getRotation 1
    call Tetromino.setRotation 2
    pop temp 0
    push this 1
    call Tetromino.getY 1
    pop local 0
label GameLogic_28
    push this 0
    push this 2
    call Board.canPlaceTetromino 2
    not
    if-goto GameLogic_29
    push this 2
    call Tetromino.getY 1
    push constant 1
    add
    pop local 0
    push this 2
    push this 2
    call Tetromino.getX 1
    push local 0
    call Tetromino.setPosition 3
    pop temp 0
    goto GameLogic_28
label GameLogic_29
    push this 2
    push this 2
    call Tetromino.getX 1
    push local 0
    push constant 1
    sub
    call Tetromino.setPosition 3
    pop temp 0
    push constant 1
    neg
    pop this 9
    push constant 0
    return
function GameLogic.spawnNewPiece 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    eq
    not
    not
    if-goto GameLogic_30
    push this 1
    call Tetromino.dispose 1
    pop temp 0
    push constant 0
    pop this 1
    goto GameLogic_31
label GameLogic_30
label GameLogic_31
    push constant 0
    pop this 9
    push pointer 0
    call GameLogic.checkGameOverCondition 1
    not
    if-goto GameLogic_32
    push constant 1
    neg
    pop this 7
    push constant 0
    return
    goto GameLogic_33
label GameLogic_32
label GameLogic_33
    push this 3
    push constant 4
    push constant 0
    push this 4
    call PieceGenerator.generateNewPiece 4
    pop this 1
    push this 1
    push constant 0
    eq
    not
    if-goto GameLogic_34
    push constant 1
    neg
    pop this 7
    push constant 0
    return
    goto GameLogic_35
label GameLogic_34
label GameLogic_35
    push this 0
    push this 1
    call Board.canPlaceTetromino 2
    not
    not
    if-goto GameLogic_36
    push constant 1
    neg
    pop this 7
    push constant 0
    return
    goto GameLogic_37
label GameLogic_36
label GameLogic_37
    push pointer 0
    call GameLogic.updateGhostPiece 1
    pop temp 0
    push constant 0
    pop this 8
    push constant 0
    return
function GameLogic.moveLeft 1
    push argument 0
    pop pointer 0
    push this 7
    push this 1
    push constant 0
    eq
    or
    not
    if-goto GameLogic_38
    push constant 0
    return
    goto GameLogic_39
label GameLogic_38
label GameLogic_39
    push this 1
    call Tetromino.moveLeft 1
    pop temp 0
    push this 0
    push this 1
    call Board.canPlaceTetromino 2
    pop local 0
    push local 0
    not
    not
    if-goto GameLogic_40
    push this 1
    call Tetromino.moveRight 1
    pop temp 0
    goto GameLogic_41
label GameLogic_40
    push pointer 0
    call GameLogic.updateGhostPiece 1
    pop temp 0
label GameLogic_41
    push local 0
    return
function GameLogic.moveRight 1
    push argument 0
    pop pointer 0
    push this 7
    push this 1
    push constant 0
    eq
    or
    not
    if-goto GameLogic_42
    push constant 0
    return
    goto GameLogic_43
label GameLogic_42
label GameLogic_43
    push this 1
    call Tetromino.moveRight 1
    pop temp 0
    push this 0
    push this 1
    call Board.canPlaceTetromino 2
    pop local 0
    push local 0
    not
    not
    if-goto GameLogic_44
    push this 1
    call Tetromino.moveLeft 1
    pop temp 0
    goto GameLogic_45
label GameLogic_44
    push pointer 0
    call GameLogic.updateGhostPiece 1
    pop temp 0
label GameLogic_45
    push local 0
    return
function GameLogic.moveDown 1
    push argument 0
    pop pointer 0
    push this 7
    push this 1
    push constant 0
    eq
    or
    not
    if-goto GameLogic_46
    push constant 0
    return
    goto GameLogic_47
label GameLogic_46
label GameLogic_47
    push this 1
    call Tetromino.moveDown 1
    pop temp 0
    push this 0
    push this 1
    call Board.canPlaceTetromino 2
    pop local 0
    push local 0
    not
    not
    if-goto GameLogic_48
    push this 1
    push this 1
    call Tetromino.getX 1
    push this 1
    call Tetromino.getY 1
    push constant 1
    sub
    call Tetromino.setPosition 3
    pop temp 0
    push constant 0
    return
    goto GameLogic_49
label GameLogic_48
    push pointer 0
    call GameLogic.updateGhostPiece 1
    pop temp 0
label GameLogic_49
    push constant 1
    neg
    return
function GameLogic.rotate 4
    push argument 0
    pop pointer 0
    push this 7
    push this 1
    push constant 0
    eq
    or
    not
    if-goto GameLogic_50
    push constant 0
    return
    goto GameLogic_51
label GameLogic_50
label GameLogic_51
    push this 1
    call Tetromino.getX 1
    pop local 1
    push this 1
    call Tetromino.getY 1
    pop local 2
    push this 1
    call Tetromino.getRotation 1
    pop local 3
    push argument 1
    not
    if-goto GameLogic_52
    push this 1
    call Tetromino.rotate 1
    pop temp 0
    goto GameLogic_53
label GameLogic_52
    push this 1
    call Tetromino.rotateReverse 1
    pop temp 0
label GameLogic_53
    push this 0
    push this 1
    call Board.canPlaceTetromino 2
    pop local 0
    push local 0
    not
    not
    if-goto GameLogic_54
    push this 1
    push local 1
    push constant 1
    sub
    push local 2
    call Tetromino.setPosition 3
    pop temp 0
    push this 0
    push this 1
    call Board.canPlaceTetromino 2
    pop local 0
    push local 0
    not
    not
    if-goto GameLogic_56
    push this 1
    push local 1
    push constant 1
    add
    push local 2
    call Tetromino.setPosition 3
    pop temp 0
    push this 0
    push this 1
    call Board.canPlaceTetromino 2
    pop local 0
    goto GameLogic_57
label GameLogic_56
label GameLogic_57
    push local 0
    not
    not
    if-goto GameLogic_58
    push this 1
    push local 1
    push local 2
    call Tetromino.setPosition 3
    pop temp 0
    push this 1
    push local 3
    call Tetromino.setRotation 2
    pop temp 0
    goto GameLogic_59
label GameLogic_58
label GameLogic_59
    goto GameLogic_55
label GameLogic_54
label GameLogic_55
    push local 0
    not
    if-goto GameLogic_60
    push pointer 0
    call GameLogic.updateGhostPiece 1
    pop temp 0
    goto GameLogic_61
label GameLogic_60
label GameLogic_61
    push local 0
    return
function GameLogic.hardDrop 1
    push argument 0
    pop pointer 0
    push this 7
    push this 1
    push constant 0
    eq
    or
    not
    if-goto GameLogic_62
    push constant 0
    return
    goto GameLogic_63
label GameLogic_62
label GameLogic_63
    push this 9
    push this 2
    push constant 0
    eq
    not
    and
    not
    if-goto GameLogic_64
    push this 2
    call Tetromino.getY 1
    push this 1
    call Tetromino.getY 1
    sub
    pop local 0
    push this 1
    push this 2
    call Tetromino.getX 1
    push this 2
    call Tetromino.getY 1
    call Tetromino.setPosition 3
    pop temp 0
    goto GameLogic_65
label GameLogic_64
    push constant 0
    pop local 0
label GameLogic_65
    push this 4
    push local 0
    push constant 2
    call Math.multiply 2
    add
    pop this 4
    push pointer 0
    call GameLogic.lockPiece 1
    pop temp 0
    push local 0
    return
function GameLogic.lockPiece 1
    push argument 0
    pop pointer 0
    push this 7
    push this 1
    push constant 0
    eq
    or
    not
    if-goto GameLogic_66
    push constant 0
    return
    goto GameLogic_67
label GameLogic_66
label GameLogic_67
    push this 0
    push this 1
    call Board.placeTetromino 2
    pop temp 0
    push this 0
    call Board.clearFullLines 1
    pop local 0
    push this 6
    push local 0
    add
    pop this 6
    push local 0
    push constant 1
    eq
    not
    if-goto GameLogic_68
    push this 4
    push constant 150
    push this 5
    call Math.multiply 2
    add
    pop this 4
    goto GameLogic_69
label GameLogic_68
label GameLogic_69
    push local 0
    push constant 2
    eq
    not
    if-goto GameLogic_70
    push this 4
    push constant 400
    push this 5
    call Math.multiply 2
    add
    pop this 4
    goto GameLogic_71
label GameLogic_70
label GameLogic_71
    push local 0
    push constant 3
    eq
    not
    if-goto GameLogic_72
    push this 4
    push constant 700
    push this 5
    call Math.multiply 2
    add
    pop this 4
    goto GameLogic_73
label GameLogic_72
label GameLogic_73
    push local 0
    push constant 4
    eq
    not
    if-goto GameLogic_74
    push this 4
    push constant 1200
    push this 5
    call Math.multiply 2
    add
    pop this 4
    goto GameLogic_75
label GameLogic_74
label GameLogic_75
    push this 6
    push this 5
    push constant 8
    call Math.multiply 2
    gt
    not
    if-goto GameLogic_76
    push this 5
    push constant 1
    add
    pop this 5
    push this 5
    push constant 20
    gt
    not
    if-goto GameLogic_78
    push constant 20
    pop this 5
    goto GameLogic_79
label GameLogic_78
label GameLogic_79
    goto GameLogic_77
label GameLogic_76
label GameLogic_77
    push constant 1
    neg
    pop this 8
    push constant 0
    pop this 9
    push constant 0
    return
function GameLogic.tick 0
    push argument 0
    pop pointer 0
    push this 7
    push this 1
    push constant 0
    eq
    or
    not
    if-goto GameLogic_80
    push constant 0
    return
    goto GameLogic_81
label GameLogic_80
label GameLogic_81
    push this 8
    not
    if-goto GameLogic_82
    push pointer 0
    call GameLogic.spawnNewPiece 1
    pop temp 0
    push constant 1
    neg
    return
    goto GameLogic_83
label GameLogic_82
label GameLogic_83
    push pointer 0
    call GameLogic.moveDown 1
    not
    if-goto GameLogic_84
    push this 4
    push constant 1
    add
    pop this 4
    push constant 1
    neg
    return
    goto GameLogic_85
label GameLogic_84
    push pointer 0
    call GameLogic.lockPiece 1
    pop temp 0
    push constant 0
    return
label GameLogic_85
function GameLogic.forceMemoryCleanup 0
    push argument 0
    pop pointer 0
    push this 2
    push constant 0
    eq
    not
    not
    if-goto GameLogic_86
    push this 2
    call Tetromino.dispose 1
    pop temp 0
    push constant 0
    pop this 2
    push constant 0
    pop this 9
    goto GameLogic_87
label GameLogic_86
label GameLogic_87
    push this 1
    push constant 0
    eq
    not
    not
    if-goto GameLogic_88
    push pointer 0
    call GameLogic.updateGhostPiece 1
    pop temp 0
    goto GameLogic_89
label GameLogic_88
label GameLogic_89
    push constant 0
    return
function GameLogic.restart 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    eq
    not
    not
    if-goto GameLogic_90
    push this 1
    call Tetromino.dispose 1
    pop temp 0
    push constant 0
    pop this 1
    goto GameLogic_91
label GameLogic_90
label GameLogic_91
    push this 2
    push constant 0
    eq
    not
    not
    if-goto GameLogic_92
    push this 2
    call Tetromino.dispose 1
    pop temp 0
    push constant 0
    pop this 2
    goto GameLogic_93
label GameLogic_92
label GameLogic_93
    push constant 0
    pop this 9
    push this 0
    push constant 0
    eq
    not
    not
    if-goto GameLogic_94
    push this 0
    call Board.clear 1
    pop temp 0
    goto GameLogic_95
label GameLogic_94
label GameLogic_95
    push this 3
    push constant 0
    eq
    not
    not
    if-goto GameLogic_96
    push this 3
    call PieceGenerator.reset 1
    pop temp 0
    goto GameLogic_97
label GameLogic_96
label GameLogic_97
    push constant 0
    pop this 4
    push constant 1
    pop this 5
    push constant 0
    pop this 6
    push constant 0
    pop this 7
    push constant 1
    neg
    pop this 8
    push pointer 0
    call GameLogic.spawnNewPiece 1
    pop temp 0
    push constant 0
    return
function GameLogic.dispose 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    eq
    not
    not
    if-goto GameLogic_98
    push this 1
    call Tetromino.dispose 1
    pop temp 0
    push constant 0
    pop this 1
    goto GameLogic_99
label GameLogic_98
label GameLogic_99
    push this 2
    push constant 0
    eq
    not
    not
    if-goto GameLogic_100
    push this 2
    call Tetromino.dispose 1
    pop temp 0
    push constant 0
    pop this 2
    goto GameLogic_101
label GameLogic_100
label GameLogic_101
    push this 3
    push constant 0
    eq
    not
    not
    if-goto GameLogic_102
    push this 3
    call PieceGenerator.dispose 1
    pop temp 0
    push constant 0
    pop this 3
    goto GameLogic_103
label GameLogic_102
label GameLogic_103
    push this 0
    push constant 0
    eq
    not
    not
    if-goto GameLogic_104
    push this 0
    call Board.dispose 1
    pop temp 0
    push constant 0
    pop this 0
    goto GameLogic_105
label GameLogic_104
label GameLogic_105
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return